@import "../../../config-scss/rem-calc";

:host {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(40) 0;

    a {
      color: white;
      font-size: 15px;

      :hover {
        color: #ff5473;
      }

    }
  }
}
